<!doctype html>
<html lang="en">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="" >
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sưu Tập Tiền Xu</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>









<section id="ccr-main-section">
<div class="container">
<section id="ccr-left-section" class="col-md-8">

  <div class="current-page">
    <a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> Tiền Xu Thế Giới
  </div> <!-- / .current-page -->

  <section id="ccr-blog-s2">
    <ul>
      <li>
        <article>
          <figure class="blog-thumbnails">
            <img src="<%= image_path('blog-thumb-6.jpg') %>" alt="Article Image ">
          </figure> <!-- /.blog-thumbnails -->
          <div class="blog-text">
            <h4><a href="single.html">Tiền Xu Mỹ</a></h4>

            <div class="meta-data">
              <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 07</a>
              <a href="#" class="comments"><i class="fa fa-comments-o"></i> 25</a>
            </div>
          </div> <!-- /.blog-text -->
        </article>
      </li>

      <li>
        <article>
          <figure class="blog-thumbnails">
            <img src="<%= image_path('blog-thumb-1.jpg') %>" alt="Article Image ">
          </figure> <!-- /.blog-thumbnails -->
          <div class="blog-text">
            <h4><a href="single.html">Bảng Anh</a></h4>

            <div class="meta-data">
              <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 18</a>
              <a href="#" class="comments"><i class="fa fa-comments-o"></i> 43</a>
            </div>
          </div> <!-- /.blog-text -->
        </article>
      </li>

      <li>
        <article>
          <figure class="blog-thumbnails">
            <img src="<%= image_path('blog-thumb-2.jpg') %>" alt="Article Image ">
          </figure> <!-- /.blog-thumbnails -->
          <div class="blog-text">
            <h4><a href="single.html">Tiền xu Pháp</a></h4>

            <div class="meta-data">
              <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 54</a>
              <a href="#" class="comments"><i class="fa fa-comments-o"></i> 03</a>
            </div>
          </div> <!-- /.blog-text -->
        </article>
      </li>

      <li>
        <article>
          <figure class="blog-thumbnails">
            <img src="<%= image_path('img/blog-thumb-3.jp') %>" alt="Article Image ">
          </figure> <!-- /.blog-thumbnails -->
          <div class="blog-text">
            <h4><a href="single.html">Tiền xu Ukraine</a></h4>

            <div class="meta-data">
              <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 04</a>
              <a href="#" class="comments"><i class="fa fa-comments-o"></i> 22</a>
            </div>
          </div> <!-- /.blog-text -->
        </article>
      </li>

      <li>
        <article>
          <figure class="blog-thumbnails">
            <img src="<%= image_path('blog-thumb-4.jpg') %>" alt="Article Image ">
          </figure> <!-- /.blog-thumbnails -->
          <div class="blog-text">
            <h4><a href="single.html">Tiền xu Hy Lạp</a></h4>

            <div class="meta-data">
              <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 74</a>
              <a href="#" class="comments"><i class="fa fa-comments-o"></i> 43</a>
            </div>
          </div> <!-- /.blog-text -->
        </article>
      </li>

      <li>
        <article>
          <figure class="blog-thumbnails">
            <img src="<%= image_path('blog-thumb-5.jpg') %>" alt="Article Image ">
          </figure> <!-- /.blog-thumbnails -->
          <div class="blog-text">
            <h4><a href="single.html">Tiền xu Đức</a></h4>

            <div class="meta-data">
              <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 45</a>
              <a href="#" class="comments"><i class="fa fa-comments-o"></i> 12</a>
            </div>
          </div> <!-- /.blog-text -->
        </article>
      </li>
    </ul>

    <div class="clearfix"></div>
    <nav class="nav-paging">
      <ul>
        <li><a href="#pre"><i class="fa fa-chevron-left"></i></a></li>
        <li><span class="current">1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#next"><i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </nav>



  </section> <!-- /#ccr-blog-s2 -->


</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4 ccr-home">
  <section id="social-buttons">
    <ul>
      <li>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>

        <p><span class="bubble"></span><span class="count">202</span> Like</p>
      </li>
      <li>
        <a href="#"  class="linkedin"><i class="fa fa-linkedin"></i></a>
        <p><span class="bubble"></span><span class="count">202</span> Like</p>
      </li>
      <li>
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <p><span class="bubble"></span><span class="count">202</span> Follow</p>
      </li>
      <li>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <p><span class="bubble"></span><span class="count">202</span> Like</p>
      </li>
    </ul>

  </section>  <!-- /#social-buttons -->

  <section id="sidebar-popular-post">
    <div class="ccr-gallery-ttile">
      <span></span>
      <p><strong>Sản phẩm bán chạy</strong></p>
    </div> <!-- .ccr-gallery-ttile -->
    <ul>
      <li>
        <img src="<%= image_path('sports-thumb-10.jpg') %>" alt="Avatar">
        <a href="#">Bộ 5 con thú 1972</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">333.000 VNĐ</time></span>
        </div>
      </li>
      <li>
        <img src="<%= image_path('thumbnail-small-7.jpg') %>"  alt="Avatar">
        <a href="#">Thiệp 50đ Ngựa 1972 (năm Giáp Ngọ 2014)</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">80.000 VNĐ</time></span>
        </div>
      </li>
      <li>
        <img src="<%= image_path('sports-thumb-5.jpg') %>" alt="Avatar">
        <a href="#">Bộ tiền cotton 11 tờ</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">444.000 VNĐ</time></span>
        </div>
      </li>
      <li>
        <img src="<%= image_path('thumbnail-small-2.jp') %>" alt="Avatar">
        <a href="#">2 usd 1976</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">299.000 VNĐ</time></span>
        </div>
      </li>
      <li>
        <img src="<%= image_path('thumbnail-small-5.jpg') %>" alt="Avatar">
        <a href="#">Bộ 4 tờ kỉ niệm mệnh giá lớn của Mỹ</a>
        <div class="date-like-comment">
          <span class="date"><time datetime="2014-02-17">140.000 VNĐ</time></span>
        </div>
      </li>
    </ul>

  </section> <!-- /#sidebar-popular-post -->
  </aside>

  <section id="sidebar-video-post">
    <div class="ccr-gallery-ttile">
      <span></span>
      <p><strong>Video</strong></p>
    </div> <!-- .ccr-gallery-ttile -->

    <div class="sidebar-video">
      <iframe width="340" height="195" src="https://www.youtube.com/watch?v=9E1N37G9Zu0" frameborder="0" allowfullscreen></iframe>
      Getting Gold on a Coin Pusher Machine!
    </div>
    <div class="date-like-comment">
      <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
      <a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
    </div>
  </section>  <!-- /#sidebar-video-post -->

  <section id="ccr-calender">

    <section id="ccr-sidebar-add-place">
      <div class="sidebar-add-place">
        <img src="<%= image_path('370.jpg') %>" alt="370x250 px">
      </div>
    </section> <!-- /#ccr-sidebar-add-place -->


    <section id="ccr-sidebar-newslater">

      <div class="ccr-gallery-ttile">
        <span></span>
        <p><label for="sb-newslater"><strong>Đăng kí thông tin</strong></label></p>
      </div> <!-- .ccr-gallery-ttile -->

      <div class="sidebar-newslater-form">
        <form class="ccr-gallery-ttile" action="#">
          <input type="email" id="sb-newslater" name="sb-newslater" placeholder="Điền Email Liên Lạc" required>
          <button type="submit">Theo dõi</button>

        </form>
      </div> <!-- /.sidebar-newslater-form -->

    </section> <!-- /#ccr-sidebar-newslater -->

    <section id="ccr-find-on-fb">
      <div class="find-fb-title">
        <span><i class="fa fa-facebook"></i></span> Find us on Facebook
      </div> <!-- /.find-fb-title -->
      <div class="find-on-fb-body">

        <div class="fb-like-box" data-href="https://www.facebook.com/nghia.lin.con" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

      </div> <!-- /.find-on-fb-body -->
    </section> <!-- /#ccr-find-on-fb -->
</section>
</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->

<aside id="ccr-footer-sidebar">
  <div class="container">

    <ul>
      <li class="col-md-3">
        <h5>Về chúng tôi</h5>
        <div class="about-us">
          Tienxu.com là một trang web thương mại điện tử chuyên bán các loại tiền xưa , tiền cổ , tiền sưu tập , dụng cụ sưu tập , chia sẽ những thông tin và kiến thức hữu ích về vấn đề sưu tập tiền ...Là bước đầu cho các bạn có cùng chung đam mê sưu tập tiền , từ những đồng tiền xưa rẻ đến hiếm , xây dựng nên những bộ sưu tập . Chia sẽ những kiến thức về sưu tập , mua bán . Gắn kết mọi người có chung sở thích
        </div>
        <div class="site-logo">
          <a href="index.html"><img src="img/logo.png" alt="Side Logo" /><h1>Coin <span>Collection</span></h1><h3></h3></a>
        </div> <!-- / .navbar-header -->

      </li>
      <li class="col-md-3">
        <h5>Bài viết mới</h5>
        <ul>
          <li>
            <img src="img/thumbnail-small-1.jpg" alt="Avatar">
            <a href="#">Bộ quà Xu Ngựa 2014</a>
          </li>
          <li>
            <img src="img/sports-thumb-15.jpg" alt="Avatar">
            <a href="#">Thiệp xu Rắn 2013</a>
          </li>
        </ul>

      </li>
      <li class="col-md-3">
        <h5>Tiền xu đặc biệt</h5>
        <ul>
          <li>
            <img src="img/thumbnail-small-8.jpg" alt="Avatar">
            <a href="#">Hũ tiền xu cổ 5 kg</a>
          </li>
          <li>
            <img src="img/sports-thumb-14.jpg" alt="Avatar">
            <a href="#">Hũ tiền xu cổ 10 kg</a>
          </li>
        </ul>

      </li>
      <li class="col-md-3">
        <h5>Tags</h5>
        <div class="tagcloud">
          <a href="#">Tiền Xu</a>
          <a href="#">Tiền Cổ</a>
          <a href="#">Mua Bán</a>
          <a href="#">Tài Chính</a>
          <a href="#">Phong Thủy</a>
          <a href="#">Đồng Vàng</a>
          <a href="#">Sưu Tầm</a>
          <a href="#">Trao Đổi</a>
          <a href="#">Kinh Nghiệm</a>
          <a href="#">Chất Liệu</a>
          <a href="#">Bảo Quản</a>
          <a href="#">Mệnh Giá</a>
          <a href="#">Xu Việt</a>
          <a href="#">Tin Tức</a>
        </div>

      </li>
    </ul>
  </div>

</aside> <!-- /#ccr-footer-sidebar -->




<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>