<aside id="ccr-footer-sidebar">
  <div class="container">

    <ul>
      <li class="col-md-3">
        <h5>Về chúng tôi</h5>
        <div class="about-us">
          Tienxu.com là một trang web thương mại điện tử chuyên bán các loại tiền xưa , tiền cổ , tiền sưu tập , dụng cụ sưu tập , chia sẽ những thông tin và kiến thức hữu ích về vấn đề sưu tập tiền ...Là bước đầu cho các bạn có cùng chung đam mê sưu tập tiền , từ những đồng tiền xưa rẻ đến hiếm , xây dựng nên những bộ sưu tập . Chia sẽ những kiến thức về sưu tập , mua bán . Gắn kết mọi người có chung sở thích
        </div>
        <div class="site-logo">
          <a href="index.html"><img src="<%= image_path('logo.png') %>" alt="Side Logo" /><h1>Coin <span>Collection</span></h1><h3></h3></a>
        </div> <!-- / .navbar-header -->

      </li>
      <li class="col-md-3">
        <h5>Bài viết mới</h5>
        <ul>
          <li>
            <img src="<%= image_path('thumbnail-small-1.jpg') %>" alt="Avatar">
            <a href="#">Bộ quà Xu Ngựa 2014</a>
          </li>
          <li>
            <img src="<%= image_path('sports-thumb-15.jpg') %>" alt="Avatar">
            <a href="#">Thiệp xu Rắn 2013</a>
          </li>
        </ul>

      </li>
      <li class="col-md-3">
        <h5>Tiền xu đặc biệt</h5>
        <ul>
          <li>
            <img src="<%= image_path('thumbnail-small-8.jpg') %>" alt="Avatar">
            <a href="#">Hũ tiền xu cổ 5 kg</a>
          </li>
          <li>
            <img src="<%= image_path('sports-thumb-14.jpg') %>" alt="Avatar">
            <a href="#">Hũ tiền xu cổ 10 kg</a>
          </li>
        </ul>

      </li>
      <li class="col-md-3">
        <h5>Tags</h5>
        <div class="tagcloud">
          <a href="#">Tiền Xu</a>
          <a href="#">Tiền Cổ</a>
          <a href="#">Mua Bán</a>
          <a href="#">Tài Chính</a>
          <a href="#">Phong Thủy</a>
          <a href="#">Đồng Vàng</a>
          <a href="#">Sưu Tầm</a>
          <a href="#">Trao Đổi</a>
          <a href="#">Kinh Nghiệm</a>
          <a href="#">Chất Liệu</a>
          <a href="#">Bảo Quản</a>
          <a href="#">Mệnh Giá</a>
          <a href="#">Xu Việt</a>
          <a href="#">Tin Tức</a>
        </div>

      </li>
    </ul>
  </div>

</aside> <!-- /#ccr-footer-sidebar -->


<footer id="ccr-footer">
  <div class="container">
    <div class="copyright">
      &copy; Sưu Tầm <a href="http://facebook.com/nghia.lin.con">Tiền Xu </a>
    </div> <!-- /.copyright -->

    <div class="footer-social-icons">
      <ul>
        <li>
          <a href="#"  class="google-plus"><i class="fa fa-google-plus"></i></a>
        </li>
        <li >
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li >
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li >
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>

    </div><!--  /.cocial-icons -->

  </div> <!-- /.container -->
</footer>  <!-- /#ccr-footer -->