<header id="ccr-header">
<section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
      </div>
   </div>
</section>



  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><%= link_to "Trang chủ", home_index_path  %></li>


            <li><a href="<%= Pathname(home_tintuc_path) %>">Tin tức tiền tệ</a></li>
            <li><a href="<%= Pathname(home_xu_viet_path) %>">Xu Việt</a></li>
            <li><a href="<%= Pathname(home_xu_the_gioi_path) %>">Xu Thế giới</a></li>
            <li><a href="<%= Pathname(home_contact_path) %>">Cách thức giao dịch</a></li>


          </ul> <!-- /  .nav -->
        </div><!-- /  .collapse .navbar-collapse  -->

        <div id="currentTime" class="pull-right current-time">
          <i class="fa fa-clock-o"></i> 12:10 pm


        </div><!-- / #currentTime -->

      </div>	<!-- /.container -->
    </nav> <!-- /.main-menu -->
  </section> <!-- / #ccr-nav-main -->




  <section id="ccr-nav-below-main">
    <nav class="second-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="ccr-language">
          <ul>
            <li>Ngôn ngữ:</li>
            <li><a href="#"><img src="<%= image_path('uk.png') %>" alt="UK">English</a></li>
            <li><a href="#"><img src="<%= image_path('france.png') %>" alt="France">France</a></li><li>
            <a href="#"><img src="<%= image_path('garman.png') %>" alt="Garman">Vietnam</a></li>
          </ul>
        </div> <!-- /.ccr-language -->
      </div><!-- /.container -->
    </nav><!-- /.second-menu -->
  </section><!-- / #ccr-nav-below-main -->

</header> <!-- /#ccr-header -->